.PostContainer,
.PageContainer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.5em 0 .5em 0;
    line-height: 1;
    color: var(--bah--contrast-color);
    font-family: 'Open Sans';
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.75em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.75em;
  }

  h5 {
    font-size: 1.5em;
    font-style: bold;
  }

  h6 {
    font-size: 1.5em;
    font-style: italic;
  }

  p {
    font-size: 1.125em;
    margin: 2em 0;
  }

  ul, ol {
    line-height: 1.5em;
    margin: 3em 0;

    li {
      font-size: 1.125rem;
      list-style: inherit;
    }

    ul {
      margin: 0;
    }
  }

  blockquote {
    border: 0.5em solid var(--bah--secondary-color-dark);
    box-shadow: .5em .5em 0px var(--bah--primary-color);
    color: var(--bah--black-color);
    padding: 2em;
    margin: 0;
    background-color: var(--bah--white-color);
  }

  table {
    box-shadow: .5em .5em 0px var(--bah--primary-color);
  }

  strong {
    color: var(--bah--contrast-color);
  }

  .highlight {
    padding: 1em 2em;
    overflow-x: scroll;
    border: 0.5em solid var(--bah--secondary-color-dark);
    box-shadow: .5em .5em 0px var(--bah--primary-color);
    margin-bottom: 1em;
    background-color: var(--bah--white-color);
  }

  iframe {
    border: 0.5em solid var(--bah--secondary-color-dark);
    box-shadow: .5em .5em 0px var(--bah--primary-color);
    margin: 3em 0;
  }
}

@media (max-width: $bah-laptop__min-width) {
  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.75em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1em;
  }

  .PostContainer {
    img {
      max-height: 10em;
    }
  }
}
