<script type="text/javascript">
  window.onload = function () {
    var url = '/.netlify/functions/track';

    var data = [
      [
        'load',
        '',
        Date.now(),
        navigator.language,
        JSON.stringify(navigator.languages),
        navigator.userAgent,
        navigator.platform,
        document.referrer,
        location.href,
        location.origin,
        window.screenX,
        window.screenY
      ]
    ]

    fetch(url, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
      },
      body: JSON.stringify(data)
    })
  }
</script>