@import 'settings/normalize';
@import 'settings/core';
@import 'settings/colors';
@import 'settings/responsive';
@import 'settings/syntax';

@import 'generic/fonts';

@import 'elements/table';

@import 'components/navbar';
@import 'components/blog-post';

@import 'utilities/text';

html,
body {
  height: 100%;
  background-color: var(--bah--secondary-color);
  color: var(--bah--dark-color);
  font-family: 'Open Sans'
}
