<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
</head>

<body>
  <div id="app">
    <nav-bar url={{ site.url }} :pages={{ site.data.pages | jsonify }}></nav-bar>

    <main-container>
      <post-container
        title="{{ page.title }}"
        url="{{ page.url }}"
        date="{{ page.date }}"
        :categories="{{ page.categories | jsonify }}"
        >
        {{ content }}
      </post-container>

      <aside-container>
        <h3>Hello</h3>
      </aside-container>
    </main-container>
  </div>
  {% include scripts.html %}
</body>

</html>
