<!doctype html>
<html lang="en">

{% include head_post.html %}

<body>
  <div id="app">
    <nav-bar url={{ site.url }} :pages={{ site.data.pages | jsonify }}></nav-bar>

    <post-container
      title="{{ page.title }}"
      url="{{ page.url }}"
      date="{{ page.date }}"
      image="{{ page.image }}"
      :categories="{{ page.categories | jsonify }}"
      >
      <template slot="content">
        {{ content }}
      </template>
    </post-container>
  </div>
  {% include scripts.html %}
</body>

</html>
