:root {
  --bah--primary-color: #7971ea;
  --bah--primary-color-dark: #7045ff;
  --bah--secondary-color: #f1fcfc;
  --bah--secondary-color-dark: #85ffe0;
  --bah--third-color: #fffc46;
  --bah--third-color-dark: #ffe600;
  --bah--contrast-color: #f73859;
  --bah--dark-color: #272727;
  --bah--white-color: #ffffff;
  --bah--black-color: #030303;
  --bah--shadow-color:  #B9B9B9;
  --bah--success-color: #00aa48;
  --bah--error-color: #cb0c22;
}
