:root {
  --bah--primary-color: #7971ea;
  --bah--primary-color-dark: #7045ff;
  --bah--secondary-color: #f1fcfc;
  --bah--secondary-color-dark: hsl(165, 100%, 76%);
  --bah--third-color: #3e4e88;
  --bah--third-color-dark: #1a2c5b;
  --bah--contrast-color: #f73859;
  --bah--dark-color: #0b132b;
  --bah--white-color: #ffffff;
  --bah--black-color: #030303;
  --bah--shadow-color:  #B9B9B9;
}
