h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}

a {
  color: var(--bah--primary-color-dark);
  text-decoration: none;

  &:visited,
  &:focus {
    color: var(--bah--primary-color-dark);
  }
}

.highlight {
  padding: 1em 2em;
  box-shadow: .5em .5em 0px var(--bah--third-color);
}
