h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

p {
  margin: 2em 0;
}

a {
  color: var(--bah--primary-color-dark);
  text-decoration: none;

  &:visited,
  &:focus {
    color: var(--bah--primary-color-dark);
  }
}